.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  min-width: 400px;
  min-height: 450px;
  border-bottom: 1px solid #344C62;
  border-radius: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 3px 5px 3px #888888;
  align-items: center;
  justify-content: center;
}