.drop-zone {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed lightblue;
    background-color: lightcyan;
    color: lightslategray;
    cursor: pointer;
    font-size: 18px;
}

.highlight {
    background-color: rgb(188, 185, 236);
}

.file-input {
    display: none;
}

.file-list-container {
    overflow-y: auto;
    height: 700px;
    border: 1px solid rgba(0,0,0,.125);
}

.file-list-container .card {
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0;
}

.file-container {
    cursor: pointer;
}

.file-container.active .card {
    background-color: rgba(0, 0, 0, .125);
    border: 4px solid rgba(0,0,0,.125);
    border-radius: 5px;
}

.file-container.active .card-body {
    font-weight: bold;
}

.file-settings {
    float: right;
}

.file-settings .delete {
    color: rgb(190, 11, 11);
    font-size: 15px;
}

.file-progress {
    margin-top: 20px;
}

.file-progress span {
    font-size: 10px;
    text-align: center;
}

.file-progress .progress {
    height: 5px;
    width: 90%;
}

.transcribe-progress {
    width: 100% !important;
}

.file-progress.done .progress {
    width: 100%;
}

.file-progress .pause-play {
    float: right;
    font-size: 12px;
    margin-top: -9px;
    cursor: pointer;
}

.transcription-container {
    margin-left: -30px;
}

.transcription {
    padding: 10px;
    padding-left: 30px;
    height: 700px;
    border: 1px solid rgba(0,0,0,.125);
}

.transcription-title {
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selected-file-name {
    margin-top: -10px;
}

.user-limits .card {
    width: 12%;
    height: 200px;
    display: flex;
    align-items: center;
    border: 4px solid rgba(0,0,0,.125);
    font-size: 12px;
    margin-top: 100px;
    float: left;
    margin-left: 35px;
}

.user-limits .card-title {
    border-bottom: 2px solid rgba(0,0,0,.125);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.user-limits .card-body {
    align-content: left;
}

.conversionResult {
    font-size: 15px;
    border: thin solid gray;
    padding: 10px;
    margin-bottom: 1px;
}

.conversionTime {
    font-size: 11px !important;
    font-weight: bold;
    color: purple;
    border-width: 120%;
}

.upload-options-container {
    margin-top: 30px;
}

.upload-options-filename {
    height: 10%;
    padding: 5px;
}

.upload-options-filename .name {
    font-weight: bold;
    cursor: text;
    width: 100%;
    padding: 8px;
    border: 1px dashed gray;
}

/* .upload-options-filename span {
    cursor: pointer;
}

.upload-options-filename span svg {
    width: 30px !important;
} */

.react-tagsinput-tag {
    background-color: cornflowerblue !important;
    color: white !important;
    border-color: blue !important;
}

.react-tagsinput--focused {
    border-color: lightblue !important;
    border-width: 2px !important;
}

.react-tagsinput.disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.file-transcribe-button {
    text-align: center;
    margin-top: 5px;
}

.file-transcribe-button button {
    background-color: orangered;
    border-color: orange;
}

.switch.btn {
    width: 8%;
}

.selling-contract-container .modal-body,
.refund-container .modal-body {
    max-height: 800px;
    overflow-y: auto;
}

ol.selling-contract-list { counter-reset: item }
.selling-contract-list > li { display: block }
.selling-contract-list > li:before { content: counters(item, ".") "."; counter-increment: item }

.card-logo {
    transform: scale(.8);
}

@media only screen and (max-height: 882px) {
    .file-list-container {
        height: 650px !important;
    }

    .transcription {
        height: 650px !important;
    }

    .drop-zone {
        font-size: 16px !important;
    }

    .file-settings .delete {
        font-size: 13px !important;
    }
    
    .file-progress span {
        font-size: 9px !important;
    }

    .file-progress .pause-play {
        font-size: 10px !important;
    }

    .conversionResult {
        font-size: 13px !important;
    }
    
    .conversionTime {
        font-size: 10px !important;
    }

    .file-container {
        font-size: 14px !important;
    }

    .player-time {
        font-size: 10px !important;
    }
}

@media only screen and (max-height: 830px) {
    .file-list-container {
        height: 550px !important;
    }

    .transcription {
        height: 550px !important;
    }

    .drop-zone {
        font-size: 14px !important;
    }

    .file-settings .delete {
        font-size: 11px !important;
    }
    
    .file-progress span {
        font-size: 8px !important;
    }

    .file-progress .pause-play {
        font-size: 8px !important;
    }

    .conversionResult {
        font-size: 12px !important;
    }
    
    .conversionTime {
        font-size: 9px !important;
    }

    .file-container {
        font-size: 12px !important;
    }

    .player-time {
        font-size: 9px !important;
    }
}

@media only screen and (max-height: 730px) {
    .file-list-container {
        height: 450px !important;
    }

    .transcription {
        height: 450px !important;
    }

    .drop-zone {
        font-size: 12px !important;
    }

    .file-settings .delete {
        font-size: 9px !important;
    }
    
    .file-progress span {
        font-size: 7px !important;
    }

    .file-progress .pause-play {
        font-size: 6px !important;
    }

    .conversionResult {
        font-size: 11px !important;
    }
    
    .conversionTime {
        font-size: 8px !important;
    }

    .file-container {
        font-size: 10px !important;
    }

    .player-time {
        font-size: 8px !important;
    }
}