.main-div {
    min-height: 500px;
    padding-top: 140px;
}

.banner {
    font: 'Montserrat Medium';
    color: white;
    font-size: xx-large;
    font-weight: 550;
}

.banner .centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

@media only screen and (max-width: 1198px) {
    .banner {
        font-size: 20px;
    }

    .banner .centered {
        width: 80%
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        font-size: small;
    }

    .banner .centered {
        width: 80%
    }
}

@media only screen and (max-width: 730px) {
    .banner {
        font-size: x-small;
    }

    .banner .centered {
        width: 80%
    }
}
