.features-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('../assets//banner/features-banner.jpg');
    background-size: cover;
    filter: brightness(.5) blur(2px);
}

.features-content {
    padding-top: 120px;
}

.features-content .title {
    font-size: 30px;
    margin-left: 50px;
    color: white;
    font-weight: bold;
}

.features-content .list-group-item {
    margin-bottom: 20px;
    filter: opacity(.6);
    border-radius: 15px;
}

.feature-text {
    margin-top: 10px;
}

.feature {
    height: 160px;
    width: 360px;
}

.feature > svg {
    color: #384d60;
}

@media only screen and (max-width: 767px) {
    .features-background {
        height: 300%;
    }

    .feature {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    
}