.logo-container {
    margin-top: -10px;
}

.logo-footer-style {
    color: black;
    font-size: 9px;
    float: right;
}

.demo-button-style {
    margin-top: -5px;
}

.fixed-top-style {
    z-index: 1000;
}

/* .fixed-top-style {
    z-index: 1000;
    background-color: #0B1115 !important;
    height: 100px;
    padding-top: 10px;
} */

/* .fixed-top-style a {
    color: #607180 !important;
    font-weight: bold;
}

.fixed-top-style a:hover {
    color: white;
} */

.dashboard-link {
    color: black;
    font-weight: bold;
}

.dashboard-link:hover {
    text-decoration: none;
}
