.player {
    position: fixed;
    width: 13.5% !important;
    height: 25% !important;
    left: 20px !important;
    top: 90px !important;
}

.player-window {
    background-color: black;
}

.player-container {
    width: 95%;
    margin-bottom: -10px;
}

.player-controls {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.player-controls.play-resume {
    float: left;
    margin-right: 24px;
}

.player-controls.mute-unmute {
    float: right;
    margin-left: 15px;
}

.player-controls svg {
    width: 24px;
    height: 24px;
}

.player-controls svg polygon,
.player-controls svg path,
.player-controls svg rect {
    fill: #384d60;
}

.player-controls svg[disabled] polygon,
.player-controls svg[disabled] path,
.player-controls svg[disabled] rect {
    fill: lightgray;
}

.player-slider {
    display: flex;
    margin-top: 10px;
}

.player-slider>div {
    width: 100% !important;
}

.handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #384d60;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.2s;
    top: 0;
    margin-top: -4px;
    margin-left: -8px;
}
   
.handle:hover {
    transform: scale(1.3);
}

.handle[disabled] {
    background: lightgray;
    cursor: auto;
}

.handle[disabled]:hover {
    transform: none;
}

.slider-bar {
    position: absolute;
    background: #384d60;
    border-radius: 4px;
}

.slider-bar[disabled] {
    cursor: auto;
}

.player-time {
    float: right;
    margin-top: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #007bff;
}

.player-time[disabled] {
    color: lightgray;
}

@media only screen and (max-width: 1200px) {
    .player-window {
        display: none;
    }
}

.forward-icon{
    height: 1.5rem;
    height: 1.5rem;
    margin-left: 8px;
}

.backward-icon{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 8px;
}

.playback-dropdown{
    background-color: #384d60;
    margin-left: 1rem;
    margin-top: -5px;
    height: 2.1rem;
}

.playback-dropdown-menu {
    background-color: #384d60;
    transform: none !important;
    top: 30px !important;
    border-radius: 0;
    border: 0 !important;
}

.playback-dropdown-menu button {
    color: white;
}

.playback-dropdown-menu-toggle {
    background-color: #384d60 !important;
    border: 0 !important;
    height: 2.1rem;
    box-shadow: none !important;
}

.speaker-pen-icon {
    color: #384d60;
    margin-left: 15px;
}