.dashboard-container,
.profile-container {
    padding-top: 120px;
    max-width: 70%;
}

.user-box {
    line-height: 1.1;
    padding-top: 15px;
}

.profile-subtext {
    font-size: 12px;
}

.profile-link {
    float: left;
    text-align: right;
    color: black;
}

.profile-link:hover {
    text-decoration: none;
    color: black;
}

.sign-out {
    float: right;
    margin-left: 15px;
}

.nav-pills .nav-link.active {
    background-color: #0C62D0;
}

.user-tabs {
    padding-top: 30px;
    height: 200px;
    border: 1px solid rgba(0,0,0,.125);
}

.user-tab-content-container {
    border: 1px solid rgba(0,0,0,.125);
    height: 780px;
    padding: 30px;
    overflow-y: auto;
}

.address-title {
    margin: 5px 20px 0px 20px;
    border-bottom: none;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.current-plan-card {
    border-width: 5px; 
    border-color: #524636;
}

.current-plan-title {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.user-plan .card-pricing {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.plan-body-container {
    height: 250px;
}

.plan-selection {
    width: 80%;
}

.change-plan-button {
    margin: auto;
}

.user-box-remaining {
    font-weight: normal;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

.userbox-dropdown .dropdown-toggle::after {
    display: none;
}